@import "tailwindcss";


/* .section-container {
    @apply px-6 md:px-12 max-w-[1440px] mx-auto
} */

.section-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .section-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}